{
	"env": {
		"browser": true,
		"es2021": true,
		"node": true
	},
	"extends": ["react-app", "react-app/jest", "prettier"],
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": "error",
		"no-case-declarations": "off",
		"no-constant-condition": "off",
		"import/no-anonymous-default-export": "off"
	}
}
